.toastStyles{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    position: absolute;
    line-break: auto;
    height: auto;
    
    /* margin: auto; */
}